.page-container-bg-solid .page-bar.p-y-15 {
	padding: 10px 0;
}
#search-pro {
	width: 50%;
	/* display:  block; */
}
#sample_1_wrapper {
	margin-top: 60px;
}
.m-t-20 {
	margin-top: 20px;	
}
.p-x-15 {
	padding: 0 15px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-0-a {
	margin: 0 auto;
}
.m-b-10 {
	margin-bottom: 10px;
}