html{
	width: 80mm;
}
body{
	font-family: 'Arial';
	margin: 0;
	padding: 0 20px 0 10px;
	font-size: 13px;
}
.invoice-store {
	position: relative;
	margin-bottom: 20px;
}
.invoice-store .name {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.invoice-store .address {
	text-align: center;
}

.invoice-title {
	position: relative;
	margin-bottom: 20px;
}
.invoice-title .title{
	font-weight: bold;
}
.invoice-title .title {
	text-align: center;
}
.invoice-title .info .date{
	width: 50%;
	float: left;
	text-align: left;
}
.invoice-title .info .invoice-id{
	width: 50%;
	float: left;
	text-align: right;
}

.invoice-cart{
	position: relative;
	margin-bottom: 5px;
}
.invoice-cart .code{
	float:left;
	width: 30%;
}
.invoice-cart .unit-price{
	float:left;
	width: 40%;
	text-align: center;
}
.invoice-cart .total-price{
	float:left;
	width: 30%;
	text-align: right;
}
.invoice-cart .discount-title{
	float: left;
	width: 50%;
}
.invoice-cart .discount-value{
	float: left;
	width: 50%;
	text-align: right;
}

.invoice-bill {
	position: relative;
	margin-bottom: 10px;
}
.invoice-bill .title{
	width: 50%;
	float: left;
}
.invoice-bill .value{
	width: 50%;
	float: left;
	text-align: right;
}
.invoice-bill .total, .invoice-bill .amount, .invoice-bill .change{
	font-weight: bold;
	font-size: 15px;
}
.invoice-bill .note{
	font-size: 13px;
	text-align: center;
}

.invoice-footer {
	text-align: center;
	font-size: 14px;
}

.page-break	{ display: block; page-break-before: always; }