.hr-bottom {
	margin: 20px 0;
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: 0;
	border-top: 1px solid #eee;
}
.barcode{
	padding: 10px;
	text-align: center;
	display: inline-block;
	border: 1px solid #cccccc;
	margin: 10px;
}
.barcode h5{
	margin-top: 15px;
	margin-bottom: 0;
}
..product-box {
	position: relative;
}
.product-box .product-img .name img{
	width: 100px;
}
.product-box .product-img .value {
	height: 100px;
}
.product-box .product-img .value .text{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
.product-line td, .transaction-line td {
	line-height: 35px !important;
}