<!-- BEGIN MAIN CONTENT -->
<div ng-controller="WebposController">
  <div class="container-fluid">
    <div class="row">
      <!-- BEGIN PAGE BAR -->
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <span class="m-r-6">Loại: </span>
          </li>
          <li>
            <select class="form-control">
              <option value="all">Tất cả</option>
              <option value="regular">SP Thường Xuyên</option>
              <option value="unit">SP Theo Lô</option>
            </select>
          </li>
          <li>
            <span class="m-r-6 m-l-6">Tình Trạng: </span>
          </li>
          <li>
            <select class="form-control">
              <option value="all">Tất cả</option>
              <option value="active">Còn Hàng</option>
              <option value="inactive">Hết Hàng</option>
            </select>
          </li>
          <li>
            <span class="m-r-6 m-l-6">Tag: </span>
          </li>
          <li>
            <input type="text" value="" data-role="tagsinput" class="m-b-0">
          </li>
          <li>
            <button type="button" class="btn red-mint m-b-3">Lọc</button>
          </li>
        </ul>
        <div class="page-toolbar w-40">
          <div class="btn-group pull-right m-r-6">
            <button type="button" data-toggle="modal" href="#add-pro" class="btn green">
              <i class="fa fa-plus"></i> Thêm SP
            </button>
          </div>
        </div> 
      </div>
      <!-- END PAGE BAR -->
      <!-- /.modal add product -->
      <div class="modal fade bs-modal-lg" id="add-pro" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title"> Thêm sản phẩm</h4>
            </div>
            <div class="modal-body">
              <div class="tabbable tabbable-line">
                <ul class="nav nav-tabs nav-tabs-lg" style="background: #EEEFEF;">
                  <li class="active">
                    <a href="#tab3" data-toggle="tab" aria-expanded="false">Thông tin</a>
                  </li> 
                  <li class="">
                    <a href="#tab4" data-toggle="tab" aria-expanded="true">Hình ảnh</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tab3">
                  <div class="row">
                    <form action="#" id="form_sample_2" class="clearfix">
                      <div class="col-md-6">
                        <div class="form-body">
                          <div class="form-group form-md-line-input">
                            <select class="form-control" name="delivery">
                              <option value="">Đồ gia dụng</option>
                              <option value="1">Đồ chơi</option>
                              <option value="2">Đồ nhựa</option>
                            </select>
                            <label for="form_control_1">Loại sản phẩm</label>
                            <span class="help-block"></span>
                          </div>

                          <div class="form-group form-md-line-input">
                            <input type="number" min="1" class="form-control" id="form_control_1" name="number" placeholder="Nhập số lượng">
                            <label for="form_control_1">Số Lượng
                              <span class="required" aria-required="true">*</span>
                            </label>
                          </div>  
                          <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" name="name1" id="form_control_1" placeholder="Nhập Barcode">
                            <label for="form_control_1">Barcode
                            </label>
                          </div>
                          <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" name="name" id="form_control_1" placeholder="Nhập Tên SP">
                            <label for="form_control_1">Tên sản phẩm
                              <span class="required" aria-required="true">*</span>
                            </label>
                          </div>
                          <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" name="number" id="form_control_1" placeholder="Nhập giá">
                            <label for="form_control_1"> Giá
                            </label>
                          </div> 
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-md-line-input">
                          <input type="text" class="form-control" name="number" id="form_control_1" placeholder="Nhập giá bán lẻ">
                          <label for="form_control_1"> Giá bán lẻ
                            <span class="required" aria-required="true">*</span>
                          </label>
                        </div>
                        <div class="form-group form-md-line-input p-t-30">
                          <input type="text" value="" data-role="tagsinput" class="form-control" id="form_control_1">
                          <label for="form_control_1"> Tags (Enter để thêm tags)
                          </label>
                        </div>
                        <div class="form-group form-md-line-input">
                          <textarea class="form-control" name="memo" rows="3"></textarea>
                          <label for="form_control_1">Mô tả</label>
                          <span class="help-block">Mô tả về sản phẩm...</span>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-md-line-input">
                              <input type="number" min="1" class="form-control" id="form_control_1" name="number" placeholder="Nhập số lượng">
                              <label for="form_control_1">Số Lượng ít nhất
                              </label>
                            </div>  
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-md-line-input">
                              <input type="number" min="1" class="form-control" id="form_control_1" name="number" placeholder="Nhập số lượng">
                              <label for="form_control_1">Số Lượng nhiều nhất
                              </label>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </form> 
                  </div>
                </div>
                <!-- End Tab 3 -->
                <div class="tab-pane" id="tab4">
                  <div class="form-group">
                    <div class="row">
                      <label for="img-pro" class="col-md-3 control-label">Ảnh minh họa</label>
                      <div class="col-md-9">
                        <input type="file" id="img-pro">
                        <p class="help-block"> Tải lên file ảnh </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Tab 4 -->
              </div>
            </div>
            <!-- end modal body -->
            <div class="modal-footer">
              <button type="button" class="btn green">
                Lưu
              </button>
              <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
            </div>
          </div>
          <!-- End modal content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- BEGIN PAGE BAR -->
      <div class="page-bar page-bar-2">
        <div class="page-toolbar">
          <div class="btn-group pull-left m-r-6 m-t-5">
            <label>
              <input type="checkbox" id="check-all" class="icheck" data-checkbox="icheckbox_square-orange">
            </label>
          </div>
          <div class="btn-group pull-left m-r-6">
            <button type="button" class="btn green">
              <i class="fa fa-check"></i> Còn hàng/Hết hàng
            </button>
          </div>
          <div class="btn-group pull-left m-r-6">
            <button type="button" class="btn green">
              <i class="fa fa-trash"></i> Xóa
            </button>
          </div>
        </div>
      </div>
      <!-- END PAGE BAR -->
      <div class="row m-t-13">
        <!-- Begin Product -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <!-- BEGIN Portlet PORTLET-->
          <div class="portlet light product-card">
            <div class="portlet-title">
              <div class="actions">
                <label>
                  <input type="checkbox" class="icheck" data-checkbox="icheckbox_square-orange">
                </label>
                <input type="checkbox" checked class="make-switch" data-label-text="Hàng" data-on-text="Còn" data-off-text="Hết"  data-on-color="success" data-off-color="danger" data-size="small">
              </div>
            </div>
            <div class="portlet-body">
              <div class="row m-b-10">
                <div class="col-md-3">
                  <img src="">
                </div>
                <div class="col-md-9">
                  <h4>
                    Tên mặt hàng
                  </h4>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Số lượng:</strong>
                  10
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Loại:</strong>
                  SP Thường Xuyên
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Giá Bán Lẻ:</strong>
                  100.500
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Số lượng trong kho:</strong>
                  20
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Mô tả:</strong>
                  đây là phần mô tả
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-md-12">
                  <strong>Tags:</strong>
                  đây là tags
                </div>
              </div>
              <hr class="hr-bottom">
              <div class="product-footer">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-4">
                    <a class="btn red btn-outline sbold" data-toggle="modal" href="#history"> Lịch sử </a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-4">
                    <a class="btn red btn-outline sbold" data-toggle="modal" href="#barcode"> Barcode </a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-4">
                    <a class="btn red btn-outline sbold" data-toggle="modal" href="#add-pro"> Sửa </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- /.modal history -->
          <div class="modal fade bs-modal-lg" id="history" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title">Lịch sử mặt hàng: <span>Tên mặt hàng</span></h4>
                </div>
                <div class="modal-body">
                  <div class="row m-b-10">
                    <div class="col-md-12">
                      <strong>Trong kho:</strong>
                      1.2
                    </div>
                  </div>
                  <div class="row m-b-10">
                    <div class="col-md-12">
                      <strong>Số kho:</strong>
                      10
                    </div>
                  </div>
                  <div class="row m-b-10">
                    <div class="col-md-12">
                      <strong>Hãng:</strong>
                      Gucci
                    </div>
                  </div>
                  <!-- Tab History -->
                  <div class="tabbable tabbable-line" id="tab-history">
                    <ul class="nav nav-tabs nav-tabs-lg" style="background: #EEEFEF;">
                      <li class="active">
                        <a href="#tab1" data-toggle="tab" aria-expanded="false" onclick="$('#print-history').attr('onclick','printDiv(\'sales_list\')')">Bán</a>
                      </li>
                      <li class="">
                        <a href="#tab2" data-toggle="tab" aria-expanded="true" onclick="$('#print-history').attr('onclick','printDiv(\'trans_list\')')">Nhập</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                        <div class="table-responsive table-hover" id="sales_list">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Số Hóa đơn</th>
                                <th> Ngày </th>
                                <th> Loại giao dịch </th>
                                <th> Số lượng </th>
                                <th> Tổng tiền </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Số Hóa đơn</td>
                                <td> Ngày </td>
                                <td> Loại giao dịch </td>
                                <td> Số lượng </td>
                                <td> Tiền </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- End Tab 1 -->
                      <div class="tab-pane" id="tab2">
                        <div class="table-responsive table-hover" id="trans_list">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Số hóa đơn</th>
                                <th> Ngày </th>
                                <th> Loại </th>
                                <th> Party </th>
                                <th> Effect on Qty </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Số Hóa đơn</td>
                                <td> Ngày </td>
                                <td> Loại giao dịch </td>
                                <td> Số lượng </td>
                                <td> Amount </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- End Tab 2 -->
                    </div>
                  </div>
                  <!-- End Tab History -->
                </div>
                <!-- end modal body -->
                <div class="modal-footer">
                  <button type="button" class="btn green" id="print-history" onclick="printDiv('sales_list')">
                    <i class="fa fa-print"></i> In
                  </button>
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                </div>
              </div>
              <!-- end modal content -->
            </div>
            <!-- end modal dialog -->
          </div>
          <!-- end modal history  -->
          <!-- modal barcode -->
          <div class="modal fade bs-modal-lg" id="barcode" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title"> Barcode: <span>Tên mặt hàng</span></h4>
                </div>
                <div class="modal-body" id="print-barcode">
                  Điền barcode ở đây
                </div>
                <!-- end modal body -->
                <div class="modal-footer">
                  <button type="button" class="btn green" onclick="printDiv('print-barcode');">
                    <i class="fa fa-print"></i> In
                  </button>
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                </div>
              </div>
              <!-- end modal content -->
            </div>
            <!-- end modal dialog -->
          </div>
          <!-- end modal barcode -->
          <!-- modal edit -->
          <div class="modal fade bs-modal-lg" id="edit" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title"> Barcode: <span>Tên mặt hàng</span></h4>
                </div>
                <div class="modal-body">
                  Điền barcode ở đây
                </div>
                <!-- end modal body -->
                <div class="modal-footer">
                  <button type="button" class="btn green">
                    <i class="fa fa-print"></i> In
                  </button>
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- end modal edit -->
        </div>
        <!-- End Product -->
      </div>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->