<!--BEGIN MAIN CONTENT -->
<div ng-controller="StockroomController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN TABBALE LINE-->
        <div class="tabbable-line">
          <ul class="nav nav-tabs nav-tabs-lg">
            <li class="active">
              <a href="#" data-toggle="tab" data-target="#tab-1" aria-expanded="true">Sản Phẩm</a>
            </li>
            <li class="">
              <a href="#" data-toggle="tab" data-target="#tab-2" aria-expanded="false">Nhập hàng</a>
            </li>
            <li class="">
              <a href="#" data-toggle="tab" data-target="#tab-3" aria-expanded="false">Hóa đơn</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-1" ng-controller="ProductController">
              <!-- Form -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light bordered">
                    <div class="portlet-body">
                      <form role="form">
                        <div class="row">
                          <div class="col-lg-4 col-md-4">
                            <label style="display: block;">Tìm SP: </label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="red fa fa-search"></i>
                              </span>
                              <input type="text" class="form-control" ng-model="searchText" ng-change="searchProduct(searchText)">
                            </div>
                          </div>
                          <div class="col-xs-offset-1 col-lg-3 col-md-6">
                            <label>Tình Trạng</label>
                            <div class="input-group">
                              <select class="form-control input-medium blue" id="select-status">
                                <option value="all">Tất cả</option>
                                <option value="active">Còn Hàng</option>
                                <option value="disactive">Hết Hàng</option>    
                              </select>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">Lọc</button>
                              </span>
                            </div>
                          </div>
                          <div class="col-xs-offset-1 col-lg-2 col-md-6">
                            <label style="display: block;">Thêm SP</label>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-pro">Thêm SP</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> 
              <!-- End Form  -->
              <!-- List Product -->
              <div class="row">
                <div class="col-lg-4 col-md-6" ng-repeat="pro in products">
                  <div class="portlet box green">
                    <div class="portlet-title">
                      <div class="actions">
                        <button class="btn btn-md btn-danger" ng-click="delProduct(pro.product_id)">Xóa</button>
                      </div>
                    </div>
                    <div class="portlet-body product-box">
                      <div class="row static-info product-img">
                        <div class="col-md-4 name">
                          <img ng-src="{{ pro.product_img }}">
                        </div>
                        <div class="col-md-8 value">
                          <div class="text">{{ pro.product_name }}</div>
                        </div>
                      </div>
                      <div class="row static-info product-retail-price">
                        <div class="col-md-4 name">
                          Giá bán lẻ:
                        </div>
                        <div class="col-md-8 value">
                          {{ pro.product_retail_price | formatPrice }} VND
                        </div>
                      </div>
                      <div class="row static-info product-unit-quantity">
                        <div class="col-md-4 name">
                          Số Lượng:
                        </div>
                        <div class="col-md-8 value">
                          {{ pro.product_on_hand }}
                        </div>
                      </div>
                      <div class="row static-info product-description">
                        <div class="col-md-4 name">
                          Mô tả:
                        </div>
                        <div class="col-md-8 value">
                          {{ pro.product_description }}
                        </div>
                      </div>
                      <!--
                      <div class="row static-info product-tag">
                        <div class="col-md-4 name">
                          Tags:
                        </div>
                        <div class="col-md-8 value">
                          {{ pro.product_tag }}
                        </div>
                      </div>
                      -->
                      <hr class="hr-bottom">
                      <div class="row">
                        <div class="col-md-4">
                          <a data-target="#history" class="btn green btn-md" data-toggle="modal" ng-click="showHistoryPro(pro.product_id)">Chi tiết</a>
                        </div>
                        <div class="col-md-4">
                          <a data-target="#barcode" class="btn green btn-md" data-toggle="modal" ng-click="showPro(pro.product_id)">Barcode</a>
                        </div>
                        <div class="col-md-4 text-right">
                          <a data-target="#edit-pro" class="btn green btn-md" data-toggle="modal" ng-click="editPro(pro.product_id)">Sửa</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="btn-toolbar text-center margin-bottom-10">
                      <div class="btn-group" style="float: none;">
                          <button type="button" class="btn btn-default" ng-click="changePage(panigation.prev_page_url)" ng-disabled="panigation.prev_page_url == null">Trang trước</a>
                          <button type="diable" class="btn btn-default">{{panigation.current_page}}</button>
                          <button type="button" class="btn btn-default" ng-click="changePage(panigation.next_page_url)" ng-disabled="panigation.next_page_url == null">Trang sau</button>
                      </div>
                  </div>
                </div>
              </div>
              <!-- End List Product -->
              <!-- Modal add product -->
              <form class="modal fade bs-modal-lg" id="add-pro" role="dialog" aria-hidden="true" name="addForm">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title"> Thêm sản phẩm </h4>
                    </div>
                    <div class="modal-body">
                      <div class="tabbable tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg" style="background: #EEEFEF;">
                          <li class="active">
                            <a data-target="#addInfo" data-toggle="tab" aria-expanded="false">Thông tin</a>
                          </li> 
                          <li class="">
                            <a data-target="#addImage" data-toggle="tab" aria-expanded="true">Hình ảnh</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div class="tab-pane active" id="addInfo">
                          <form role="form" class="form-pro" style="margin-top: 15px;">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group margin-top-15">
                                  <label>Số Kho Hàng
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="number" class="form-control input-large" ng-model="product_stock_number" required disabled>
                                </div>
                                <div class="form-group">
                                  <label>Tên sản phẩm
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="text" class="form-control input-large" ng-model="product_name" required>
                                </div>
                                <div class="form-group">
                                  <label>Giá bán lẻ
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="number" class="form-control input-large" ng-model="product_retail_price" required>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group margin-top-15">
                                  <label>Giá nhập
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="number" class="form-control input-large" ng-model="product_cost" required>
                                </div>
                                <!--
                                <div class="form-group">
                                  <label>Tags
                                  </label>
                                  <input type="text" class="form-control input-large" placeholder="Tag theo dạng abc,cde" ng-model="product_tags">
                                </div>
                                -->
                                <div class="form-group">
                                  <label>Mô tả</label>
                                  <textarea class="form-control" rows="3" ng-model="product_description"></textarea>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- End Tab Info -->
                        <div class="tab-pane" id="addImage">
                          <form role="form" class="form-pro">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group margin-top-15">
                                  <label>Ảnh minh họa</label>
                                  <input type="file" fileread="product_img">
                                  <p class="help-block">Tải lên file ảnh</p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- End Tab Image -->
                      </div>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" ng-disabled="addForm.$invalid" ng-click="addProduct()" data-dismiss="modal">
                        Lưu
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- End modal content -->
                </div>
                <!-- End modal dialog -->
              </form>
              <!-- End modal add product --> 

              <!-- Modal edit product -->
              <div class="modal fade bs-modal-lg" id="edit-pro" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title"> Sửa sản phẩm </h4>
                    </div>
                    <div class="modal-body">
                      <div class="tabbable tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg" style="background: #EEEFEF;">
                          <li class="active">
                            <a data-target="#info" data-toggle="tab" aria-expanded="false">Thông tin</a>
                          </li> 
                          <li class="">
                            <a data-target="#image" data-toggle="tab" aria-expanded="true">Hình ảnh</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div class="tab-pane active" id="info">
                          <form role="form" class="form-pro" style="margin-top: 15px;">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Số Kho Hàng
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="number" class="form-control input-large" ng-model="edit_product_stock_number" disabled="" required>
                                </div>
                                <div class="form-group">
                                  <label>Tên sản phẩm
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="text" class="form-control input-large" ng-model="edit_product_name" required>
                                </div>
                                <div class="form-group">
                                  <label>Giá bán lẻ<span class="required" aria-required="true">*</span></label>
                                  <input type="number" class="form-control input-large" ng-model="edit_product_retail_price" required>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Giá nhập
                                    <span class="required" aria-required="true">*</span>
                                  </label>
                                  <input type="text" class="form-control input-large" ng-model="edit_product_cost" required>
                                </div>
                                <!--
                                <div class="form-group">
                                  <label>Tags
                                  </label>
                                  <input type="text" class="form-control input-large" placeholder="Tag theo dạng abc,cde" ng-model="product_tags">
                                </div>
                                -->
                                <div class="form-group">
                                  <label>Mô tả</label>
                                  <textarea class="form-control" rows="3" ng-model="edit_product_description"></textarea>
                                </div>
                                <!--
                                <div class="row">
                                  <div class="col-xs-6">
                                    <div class="form-group">
                                      <label>SL ít nhất</label>
                                      <input type="text" class="form-control input-small" ng-model="edit_product_min_quantity">
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <div class="form-group">
                                      <label>SL nhiểu nhất</label>
                                      <input type="text" class="form-control input-small" ng-model="edit_product_max_quantity">
                                    </div>
                                  </div>
                                </div>
                                -->
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- End Tab Info -->
                        <div class="tab-pane" id="image">
                          <form role="form" class="form-pro">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group margin-top-15">
                                  <label>Ảnh minh họa</label><br>
                                  <img ng-src="{{ edit_product_img }}" style="width: 75px">
                                  <input type="file" fileread="product_img">
                                  <p class="help-block">Tải lên file ảnh nếu muốn thay đổi</p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- End Tab Image -->
                      </div>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" ng-click="updateProduct(id_product)" data-dismiss="modal">
                        Lưu
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- End modal content -->
                </div>
                <!-- End modal dialog -->
              </div>
              <!-- End modal add product -->  

              <!-- modal history -->
              <div class="modal fade bs-modal-lg" id="history" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title">Chi tiết mặt hàng - <span>{{product_detail.product_id}}</span></h4>
                    </div>
                    <div class="modal-body">
                      <div class="row static-info">
                        <div class="col-xs-2 name">Mã</div>
                        <div class="col-xs-10 value">{{product_detail.product_barcode_name}}</div>
                      </div>
                      <div class="row static-info">
                        <div class="col-xs-2 name">Tên</div>
                        <div class="col-xs-10 value">{{product_detail.product_name}}</div>
                      </div>
                      <div class="row static-info">
                        <div class="col-xs-2 name">Giá nhập</div>
                        <div class="col-xs-10 value">{{product_detail.product_cost | formatPrice}} VND</div>
                      </div>
                      <div class="row static-info">
                        <div class="col-xs-2 name">Giá bán lẻ</div>
                        <div class="col-xs-10 value">{{product_detail.product_retail_price | formatPrice}} VND</div>
                      </div>
                      <div class="row static-info">
                        <div class="col-xs-2 name">SL trong kho</div>
                        <div class="col-xs-10 value">{{product_detail.product_on_hand}}</div>
                      </div>
                      <div class="row static-info">
                        <div class="col-xs-2 name">Mô tả</div>
                        <div class="col-xs-10 value">{{product_detail.product_description}}</div>
                      </div>
                      <!-- Tab History -->
                      <div class="tabbable tabbable-line" id="tab-history">
                        <ul class="nav nav-tabs nav-tabs-lg" style="background: #EEEFEF;">
                          <li class="active">
                            <a data-target="#sale" data-toggle="tab" aria-expanded="false" onclick="$('#print-history').attr('onclick','printDiv(\'sales_list\')')">Bán</a>
                          </li>
                          <li class="">
                            <a data-target="#import" data-toggle="tab" aria-expanded="true" onclick="$('#print-history').attr('onclick','printDiv(\'trans_list\')')">Nhập</a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="sale">
                            <div class="table-responsive table-hover" id="sales_list">
                              <table class="table">
                                <thead>
                                  <tr class="row">
                                    <th class=""> Mã </th>
                                    <th class=""> Ngày </th>
                                    <th class=""> Loại </th>
                                    <th class="text-right"> Đơn giá </th>
                                    <th class="text-right"> SL </th>
                                    <th class="text-right"> Tổng </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="row" ng-repeat="qlinvoice in product_detail.qlinvoices">
                                    <td class="">{{qlinvoice.invoices.invoice_id}}</td>
                                    <td class="">{{qlinvoice.invoices.invoice_date}}</td>
                                    <td class="">{{qlinvoice.invoices.invoice_transaction_type}}</td>
                                    <td class="text-right">{{qlinvoice.ql_invoices_product_retail_price | formatPrice}}</td>
                                    <td class="text-right">{{qlinvoice.ql_invoices_quantity_bought}}</td>
                                    <td class="text-right">{{qlinvoice.ql_invoices_product_retail_price*qlinvoice.ql_invoices_quantity_bought*(100-qlinvoice.ql_invoices_discount)/100 | formatPrice}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!-- End Tab Sale -->
                          <div class="tab-pane" id="import">
                            <div class="table-responsive table-hover" id="trans_list">
                              <table class="table">
                                <thead>
                                  <tr class="row">
                                    <th class=""> Mã </th>
                                    <th class=""> Ngày </th>
                                    <th class=""> Loại </th>
                                    <th class="text-right"> Đơn giá </th>
                                    <th class="text-right"> SL </th>
                                    <th class="text-right"> Tổng </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="row" ng-repeat="qltransaction in product_detail.qltransactions">
                                    <td class="">{{qltransaction.transactions.transaction_id}}</td>
                                    <td class="">{{qltransaction.transactions.transaction_date}}</td>
                                    <td class="">{{qltransaction.transactions.transaction_type}}</td>
                                    <td class="text-right">{{qltransaction.ql_transactions_cost | formatPrice}}</td>
                                    <td class="text-right">{{qltransaction.ql_transactions_quantity_bought}}</td>
                                    <td class="text-right">{{qltransaction.ql_transactions_cost*qltransaction.ql_transactions_quantity_bought | formatPrice}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!-- End Tab Import -->
                        </div>
                      </div>
                      <!-- End Tab History -->
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" id="print-history" onclick="printDiv('sales_list')" disabled>
                        <i class="fa fa-print"></i> In
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- end modal content -->
                </div>
                <!-- end modal dialog -->
              </div>
              <!-- end modal history  -->
              <!-- Modal barcode -->
              <div class="modal fade bs-modal-lg" id="barcode" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title"> Barcode cho sản phẩm: <span>{{product_selected.product_name}}</span></h4>
                    </div>
                    <div class="modal-body">
                      <div class="row text-center">
                        <div>
                          <img ng-src="data:image/png;base64,{{product_selected.product_barcode_img}}" alt="">
                        </div>
                        <h5>{{product_selected.product_barcode_name}}</h5>
                      </div>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" data-toggle="modal" href="#barcode-print" data-dismiss="modal">
                        <i class="fa fa-print"></i> In
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- end modal content -->
                </div>
                <!-- end modal dialog -->
              </div>
              <!-- End modal barcode -->             
              <div class="modal fade" id="barcode-print" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title"> In barcode: <span>{{product_selected.product_barcode_name}}</span></h4>
                    </div>
                    <div class="modal-body">
                      <div class="row text-center">
                        <label class="col-md-3 control-label">
                          Số nhãn in:
                        </label>
                        <div class="col-md-9">
                          <input type="number" class="form-control" ng-model="printCount">
                        </div>
                      </div>
                      <div id="print-barcode" style="display: none">
                        <div ng-repeat="i in getNumber(printCount) track by $index" class="barcode-box">
                          <div class="name">
                            <div class="text">
                              {{product_selected.product_name}}
                            </div>
                          </div>
                          <div class="code">
                            <img ng-src="data:image/png;base64,{{product_selected.product_barcode_img}}" alt="">
                          </div>
                          <div class="price">
                            Giá: {{product_selected.product_retail_price | formatPrice}} VND
                          </div>
                          <div ng-if="$index % 3 == 0" class="page-break" style="clear:both"></div>
                        </div>
                      </div>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" ng-click="print()" data-dismiss="modal">
                        <i class="fa fa-print"></i> In
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- end modal content -->
                </div>
                <!-- end modal dialog -->
              </div>
              <!-- End modal barcode -->             
            </div>
            <!-- End Tab Pane 1 -->
            <div class="tab-pane" id="tab-2" ng-controller= "TransactionController">
              <!-- Form -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light bordered">
                    <div class="portlet-body">
                      <form role="form">
                        <div class="row">
                          <div class="col-lg-3 col-md-3">
                            <label>Từ ngày:</label>
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                              <input type="text" class="form-control" readonly="" name="datepicker">
                              <span class="input-group-btn">
                                <button class="btn default" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3">
                            <label>Đến ngày:</label>
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                              <input type="text" class="form-control" readonly="" name="datepicker">
                              <span class="input-group-btn">
                                <button class="btn default" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-1 col-md-2">
                            <label style="display: block;">Lọc SP:</label>
                            <button type="button" class="btn btn-danger">Lọc</button>
                          </div>
                          <div class="col-lg-2 col-md-12">
                            <label style="display: block;">Nhập đơn hàng:</label>
                            <button type="button" data-toggle="modal" data-target="#add-trans" class="btn green">Nhập đơn hàng</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Table Wrap -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light bordered">
                    <div class="portlet-title">
                      <div class="caption">
                        <i class="icon-list font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Danh Sách</span>
                      </div>
                      <div class="actions">
                        <button type="button" class="btn green" id="print-inventor" onclick="printDiv('trans_list')">
                          <i class="fa fa-print"></i> In
                        </button>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="table-scrollable" id="trans_list">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center"> Mã </th>
                              <th> Ngày </th>
                              <th> Loại giao dịch </th>
                              <th> Nhà cung cấp </th>
                              <th> Tình trạng </th>
                              <th> User </th>
                              <th class="text-right"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="tran in transactions" class="transaction-line">
                              <td class="text-center"> {{ tran.transaction_id }} </td>
                              <td> {{ tran.transaction_date}} </td>
                              <td> {{ tran.transaction_type}} </td>
                              <td> {{ tran.transaction_supplier}} </td>
                              <td> {{ tran.transaction_status}} </td>
                              <td> {{ tran.transaction_user}}</td>
                              <td class="text-right">
                                <a data-target="#transaction-detail" class="btn green btn-md" data-toggle="modal" ng-click="detailTransaction(tran.transaction_id)">Chi tiết</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-12">
                        <div class="btn-toolbar text-center margin-bottom-10">
                            <div class="btn-group" style="float: none;">
                                <button type="button" class="btn btn-default" ng-click="changePage(panigation.prev_page_url)" ng-disabled="panigation.prev_page_url == null">Trang trước</a>
                                <button type="diable" class="btn btn-default">{{panigation.current_page}}</button>
                                <button type="button" class="btn btn-default" ng-click="changePage(panigation.next_page_url)" ng-disabled="panigation.next_page_url == null">Trang sau</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade bs-modal-lg" id="transaction-detail" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Chi tiết đơn hàng nhập - <span>{{transaction.transaction_id}}</span></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row static-info">
                              <div class="col-xs-2 name">
                                Nhà cung cấp
                              </div>
                              <div class="col-xs-10 value">
                                {{transaction.transaction_supplier}}
                              </div>
                            </div>
                            <div class="row static-info">
                              <div class="col-xs-2 name">
                                Ngày nhập hàng
                              </div>
                              <div class="col-xs-10 value">
                                {{transaction.transaction_date}}
                              </div>
                            </div>
                            <div class="row static-info">
                              <div class="col-xs-2 name">
                                Tổng tiền
                              </div>
                              <div class="col-xs-10 value">
                                {{transaction.totalCost | formatPrice}} VND
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th> Sản phẩm </th>
                                      <th> Giá nhập </th>
                                      <th> Số lượng </th>
                                      <th> Tổng tiền </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat = "qlTransaction in transaction.qltransactions">
                                      <td>{{qlTransaction.products.product_name}}</td>
                                      <td>{{qlTransaction.ql_transactions_cost | formatPrice}}</td>
                                      <td>{{qlTransaction.ql_transactions_quantity_bought}}</td>
                                      <td>{{qlTransaction.totalCost | formatPrice}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <!-- end modal body -->
                          <div class="modal-footer">
                            <button type="button" class="btn green" id="print-history" onclick="printDiv('sales_list')">
                              <i class="fa fa-print"></i> In
                            </button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                          </div>
                        </div>
                        <!-- end modal content -->
                      </div>
                      <!-- end modal dialog -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Table Wrap -->
              <!-- Modal add trans-->
              <div class="modal fade bs-modal-lg" id="add-trans" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title">Nhập đơn hàng</h4> 
                    </div>
                    <div class="modal-body">
                      <form action="" name="addTransactionForm">
                        <div class="row form-group">
                          <label class="col-md-3 control-label">
                            Nhà cung cấp
                            <span class="required" aria-required="true">*</span>
                          </label>
                          <div class="col-md-6">
                            <input type="text" ng-model="supplier" class="form-control" required>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-md-3 control-label">Nhập sản phẩm:</label>
                          <div class="col-md-6">
                            <div class="input-group">
                              <ui-select ng-model="selectedProduct" theme="bootstrap" style="width: 300px;" title="Choose a product" on-select="addProductLine(selectedProduct)">
                                <ui-select-match placeholder="Tìm sp theo tên hoặc mã...">Tìm sp theo tên hoặc mã...</ui-select-match>
                                <ui-select-choices repeat="pro in products"
                                         refresh="searchProduct($select.search)"
                                         refresh-delay="0">
                                  <span ng-bind-html="pro.product_id | highlight: $select.search"></span>
                                  -
                                  <span ng-bind-html="pro.product_name | highlight: $select.search"></span>
                                </ui-select-choices
                              </ui-select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="col-md-1">Mã</th>
                                  <th class="col-md-4">Tên sp</th>
                                  <th class="col-md-3">Giá nhập</th>
                                  <th class="col-md-3">Số lượng</th>
                                  <th class="col-md-1"></th>
                                </tr>
                              </thead>
                              <tbody ng-repeat="pro in addProduct">
                                <tr class="product-line">
                                  <td>{{ pro.product_id }}</td>
                                  <td>{{ pro.product_name }}</td>
                                  <td><input type="number" ng-model="pro.product_cost" ng-change="calcTotalCost()" class="form-control" style="width: 80%"></td>
                                  <td><input type="number" ng-model="pro.product_quantity_bought" ng-change="calcTotalCost()" class="form-control" style="width: 80%"></td>
                                  <td><a class="glyphicon glyphicon-trash" ng-click="removeProductLine(pro)"></a><i ></i></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-12 text-right" refresh="calcTotalCost()" refresh-delay="0">
                            <h3 class="bold">Tổng tiền: {{ totalCost | formatPrice }} VND</h3>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer">
                      <button type="button" class="btn green" id="btn-add-trans" ng-disabled="addTransactionForm.$invalid" data-dismiss="modal" ng-click="addTransaction()">
                        Nhập
                      </button>
                      <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- End modal add trans -->
            </div>
            <!-- End Tab Pane 2 -->
            <div class="tab-pane" id="tab-3" ng-controller= "InvoiceController">
              <!-- Form -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light bordered">
                    <div class="portlet-body">
                      <form role="form">
                        <div class="row">
                          <div class="col-lg-3 col-md-3">
                            <label>Từ ngày:</label>
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                              <input type="text" class="form-control" readonly="" name="datepicker">
                              <span class="input-group-btn">
                                <button class="btn default" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3">
                            <label>Đến ngày:</label>
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                              <input type="text" class="form-control" readonly="" name="datepicker">
                              <span class="input-group-btn">
                                <button class="btn default" type="button">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-2">
                            <label style="display: block;">Lọc SP:</label>
                            <button type="button" class="btn btn-danger">Lọc</button>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <label style="display: block;">Tìm SP: </label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="red fa fa-search"></i>
                              </span>
                              <input type="text" class="form-control" ng-model="searchText" ng-change="searchInvoice(searchText)">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Table Wrap -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light bordered">
                    <div class="portlet-title">
                      <div class="caption">
                        <i class="icon-list font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Danh Sách</span>
                      </div>
                      <div class="actions">
                        <button type="button" class="btn green" id="print-inventor" onclick="" disabled="">
                          <i class="fa fa-print"></i> In
                        </button>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="table-scrollable" id="trans_list">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center"> Mã </th>
                              <th class=""> Ngày </th>
                              <th class=""> Loại giao dịch </th>
                              <th class="text-right"> Số lượng</th>
                              <th class="text-right"> Tổng tiền </th>
                              <th class="text-right"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="invoice in invoices" class="transaction-line">
                              <td class="text-center"> {{ invoice.invoice_id }} </td>
                              <td class=""> {{ invoice.invoice_date}} </td>
                              <td class=""> {{ invoice.invoice_transaction_type}} </td>
                              <td class="text-right"> {{ invoice.invoice_quantity_bought}} </td>
                              <td class="text-right"> {{ invoice.invoice_total | formatPrice}} </td>
                              <td class="text-right">
                                <a data-target="#invoice-detail" class="btn green btn-md" data-toggle="modal" ng-click="detailInvoice(invoice.invoice_id)">Chi tiết</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-12">
                        <div class="btn-toolbar text-center margin-bottom-10">
                            <div class="btn-group" style="float: none;">
                                <button type="button" class="btn btn-default" ng-click="changePage(panigation.prev_page_url)" ng-disabled="panigation.prev_page_url == null">Trang trước</a>
                                <button type="diable" class="btn btn-default">{{panigation.current_page}}</button>
                                <button type="button" class="btn btn-default" ng-click="changePage(panigation.next_page_url)" ng-disabled="panigation.next_page_url == null">Trang sau</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade bs-modal-lg" id="invoice-detail" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Chi tiết hóa đơn - <span>{{invoice.invoice_id}}</span></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row static-info">
                              <div class="col-xs-2 name">
                                Ngày bán hàng
                              </div>
                              <div class="col-xs-10 value">
                                {{invoice.invoice_date}}
                              </div>
                            </div>
                            <div class="row static-info">
                              <div class="col-xs-2 name">
                                Tổng tiền
                              </div>
                              <div class="col-xs-10 value">
                                {{invoice.invoice_total | formatPrice}} VND
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th> Mã </th>
                                      <th> Sản phẩm </th>
                                      <th class="text-right"> Giá </th>
                                      <th class="text-right"> Số lượng </th>
                                      <th class="text-right"> Khuyến mại </th>
                                      <th class="text-right"> Tổng tiền </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat = "qlInvoice in invoice.ql_invoices">
                                      <td>{{qlInvoice.products.product_barcode_name}}</td>
                                      <td>{{qlInvoice.products.product_name}}</td>
                                      <td class="text-right">{{qlInvoice.ql_invoices_product_retail_price | formatPrice}}</td>
                                      <td class="text-right">{{qlInvoice.ql_invoices_quantity_bought}}</td>
                                      <td class="text-right">{{qlInvoice.ql_invoices_discount}}&percnt;</td>
                                      <td class="text-right">{{qlInvoice.ql_invoices_product_retail_price*qlInvoice.ql_invoices_quantity_bought*(100-qlInvoice.ql_invoices_discount)/100 | formatPrice}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <!-- end modal body -->
                          <div class="modal-footer">
                            <button type="button" class="btn green" id="print-history" onclick="" disabled="">
                              <i class="fa fa-print"></i> In
                            </button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
                          </div>
                        </div>
                        <!-- end modal content -->
                      </div>
                      <!-- end modal dialog -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Table Wrap -->
            </div>
            <!-- End Tab Pane 3 -->
          </div>
          <!-- End Main Tab Content -->
        </div>
        <!-- END TABBALE LINE-->
      </div>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT