
<div ng-controller="WebposController">

    <div class="container-fluid" style="padding: 0px">
        <!-- <div id="main_trans" style="position: fixed; width: 97%;top: 50px; left: 45px; right: 0px; bottom: 0px"> -->
            <div id="main_trans_1" style="display: block;">
                <div class="col-md-9 col-sm-12 col-xs-12" style="padding: 0px">
                    <div class="row" style="margin :15px 0px">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" placeholder="Scan/search item (name or barcode)" ng-model="search" ng-keyup="keyUp()"/>
                                <span class="input-group-addon" data-target="#large" data-toggle="modal">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                            </div>

                            <div class=" product_search">
                                <div class="scroller" style="margin-top: 20px; height: 180px " data-always-visible="1" data-rail-visible="0">
                                    <div class="mt-element-list">
                                        <div class="mt-list-container list-simple ext-1" ng-repeat="item in listSearch ">
                                            <ul>
                                                <li class="mt-list-item">
                                                    <div class="list-icon-container">
                                                        <i class="icon-close"></i>
                                                    </div>
                                                    <div class="list-datetime"> {{item.product_stock_number}} </div>
                                                    <div class="list-item-content">
                                                        <h3 class="uppercase">
                                                            <a href="javascript:;">{{ item.product_type }}</a>
                                                        </h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div >
                            </div>
                            
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                                <a class=" btn btn-default" data-target="#stack1" data-toggle="modal"> Discount All</a>
                                
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    TOOLS
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                    <li>
                                        <a >Retrieve Layaway</a>
                                    </li>
                                    <li><a href="#">Return Items</a></li>
                                    </ul>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#draggable">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                    </div>

                    <!-- modal -->

                    <div class="modal fade bs-modal-lg" id="draggable" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Start Dragging Here</h4>
                                </div>
                                <div class="modal-body"> Are you sure you want to reset the transaction? </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" ng-click="emptyCart()" data-dismiss="modal">OK</button>
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="stack1" class="modal fade" tabindex="-1" data-width="400">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title" style="font-weight: 700">Discount All</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Enter discount value</h5>
                                            <p>
                                                <input type="text" class="col-md-12 form-control" ng-model="discountAll"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" data-dismiss="modal">OK</button>
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Modal Title</h4>
                                </div>
                                <div class="modal-body row">
                                    <div class="scroller" style="margin-top: 20px; height: 550px " data-always-visible="1" data-rail-visible="0">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="item in products">
                                            <div class="portlet light portlet-fit bordered">
                                                <div class="portlet-body">
                                                    <div class="mt-element-overlay">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mt-overlay-1">
                                                                    <img src="../assets/pages/img/page_general_search/01.jpg">
                                                                    <div class="mt-overlay">
                                                                        <ul class="mt-info">
                                                                            <li>
                                                                                <a class="btn default btn-outline" href="" ng-click="addProductToCart(item)">
                                                                                    <i class=" glyphicon glyphicon-plus"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="portlet-title">
                                                    <div class="caption" style="text-align: center;">
                                                        <i class=" icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase" style="cursor: pointer;">{{ item.product_type }}</span>
                                                        <div class="caption-desc font-grey-cascade"> RRRSSS</div>
                                                        <p style="font-weight: bold">{{ item.product_retail_price }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                <!-- end/modal -->

                    <div class="scroller" style="margin-top: 20px; height: 600px " data-always-visible="1" data-rail-visible="0">
                        
                        <div class="portlet-body" style="padding-left: 15px">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-advance table-hover" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>
                                                <i class="fa fa-briefcase"></i> Items </th>
                                            <th class="hidden-xs">
                                                <i class="fa fa-user"></i> Quantity </th>
                                            <th>
                                                <i class="fa fa-usd"></i>  Price </th>
                                            <th class="hidden-xs">
                                                <span>&percnt; &nbsp;   Discount </span></th>
                                            <th>
                                                <i class="fa fa-shopping-cart"></i>  Total </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cart in carts">
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="javascript:;"> {{cart.product_type}} </a>
                                            </td>
                                            <td class="hidden-xs"> 
                                                
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" ng-click="removeProductFromCart(cart)">-</button>
                                                    </span>
                                                    <input ng-model="cart.product_count" type="text" class="form-control" value="{{cart.product_count}}">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" ng-click="addProductToCart(cart)">+</button>
                                                    
                                                    </span>
                                                </div>

                                            </td>
                                            <td>{{cart.product_retail_price | currency}}</td>
                                            <td>
                                                <input type="text" name="" ng-model="cart.product_discount">
                                            </td>
                                            <td> {{ getCost(cart) | currency}} </td>
                                            <td>
                                                <a ng-click="removeAllProductFromCart(cart)" class="btn btn-outline btn-circle btn-sm purple">
                                                    <i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="transaction_actions_container" class="col-md-3 col-sm-12 col-xs-12">
                    <div id="transaction_actions_container_salesman" class="col-md-12 col-xs-12 col-sm-12" style="display: none;">
                        <div class="row" id="salesman_det_div_select">
                            <div style="padding: 15px; color: #F8F8F8;">
                                <div class="col-md-12 col-xs-12 col-sm-12 text-left">
                                    <span class="glyphicon glyphicon-user"></span>
                                    &nbsp; &nbsp; Salesman list <br>
                                </div>
                            </div>
                        </div>
                        <div id="salesman_list">
                            <div class="row salesman_row" onclick="assignSalesman({&quot;id&quot;:1187,&quot;name&quot;:&quot;Hoàng Ngọc Nga&quot;,&quot;email&quot;:&quot;anny.ns.97@gmail.com&quot;,&quot;is_locked&quot;:null})">Hoàng Ngọc Nga</div>
                        </div>
                    </div>

                    <div id="transaction_actions_container_normal" class="col-md-12 col-xs-12 col-sm-12" style="display: block;">

                        <div class="row" id="salesman_det_div">
                            <div style="padding: 15px; color: #F8F8F8;" >

                                <div class="col-md-10 col-xs-1 col-sm-10 text-left">
                                    <div id="invoice_salesman">
                                        <span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp;Hoàng Ngọc Nga
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-2 col-sm-2 text-right">
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </div>

                            </div>
                        </div>

                        <div id="customer_details_show" style="display: none;">
                            <div class="row" id="customer_det_div_select">
                                <div class="col-md-10 col-xs-10 col-sm-10 text-left" style="padding: 15px">
                                    <div class="input-group" id="customer_div">
                                      <span class="input-group-addon" id="basic-addon1">
                                          <span class="glyphicon glyphicon-pawn float-left"></span>
                                      </span>
                                        <div id="input_invoice_customer_diabled"> </div>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-2 col-sm-2 text-right" style="padding-left: 0px;">
                                    <div class="input-group" id="customer_div">
                                        <span class="input-group-addon" id="basic-addon1" style="padding: 0px;">
                                            <span class="glyphicon glyphicon-check float-left" style="padding: 15px;" onclick="replaceDiv( 'customer_details_show' , 'customer_details_hide')"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12 text-left" style="height: 45px; border-bottom: 1px solid #d8d8d8;">
                                    <h4> Customer Info </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12 text-left" style="min-height: 70px; padding-top: 10px; border-bottom: 1px solid #d8d8d8;">
                                    <div id="orange_text"><strong><small>Membership</small></strong></div><br>
                                    <div id="customer_membership"></div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12 text-left" style="min-height: 70px; padding-top: 10px; border-bottom: 1px solid #d8d8d8;">
                                    <div id="orange_text"><strong><small>Points</small></strong></div><br>
                                    <div id="customer_points"><h4>undefined</h4></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12 text-left" style="padding-top: 10px;">
                                    <div id="orange_text"><strong><small>Pending Transaction</small></strong></div><br>
                                    -
                                </div>
                            </div>

                        </div>

                        <div id="customer_details_hide">
                            <div id="customer_details_hide">
                                <div class="row" id="customer_det_div">  
                                    <div class="col-md-10 col-xs-10 col-sm-10 text-left">
                                        <div class="input-group" id="customer_div">
                                          <span class="input-group-addon" id="basic-addon1"> 
                                              <span class="glyphicon glyphicon-pawn float-left" onclick="replaceDiv( 'customer_details_hide' , 'customer_details_show')"></span> 
                                          </span>
                                          <input id="input_invoice_customer" type="text" placeholder="Customer Name" >
                                        </div>
                                    </div>
                
                                    <div class="col-md-2 col-xs-2 col-sm-2 text-right" style="padding-left: 0px;">
                                        <div class="input-group" id="customer_div"> 
                                            <span class="input-group-addon" id="basic-addon1" style="padding: 0px;"> 
                                                <span id="cust_details" class="glyphicon glyphicon-plus float-left" style="padding: 10px;" onclick="$('#customer_details_modal').appendTo('body').modal('show');"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row"> -->
                                    <div class="invoice-subtotal">
                                        <div class="row">
                                            <h2 class="invoice-title uppercase">Total</h2>
                                            <p class="invoice-desc grand-total">{{ getTotal() | currency}}</p>
                                        </div>
                                        <div class="row">
                                            <h2 class="invoice-title uppercase col-md-6" style="padding-left: 0px">Subtotal</h2>
                                            <p class="invoice-desc col-md-6" >{{subTotal() | currency}}</p>
                                        </div>
                                        <div class="row">
                                            <h2 class="invoice-title uppercase col-md-6" style="padding-left: 0px">Giảm giá: </h2>
                                            <p class="invoice-desc col-md-6">{{getDiscount() | currency }} </p>
                                        </div>
                                        
                                    </div>

                                    <div id="right_bar_buttons">
                                        <center>
                                            <hr>
                                            <div id="normal_buttons">
                                                <a id="green_button" class="btn btn-default btn-md checkout" ng-click="updateStock()" onclick=""> CHECKOUT </a></strong><br><br>
                                                <a href="#" id="grey_button"  class="btn btn-default btn-md layaway_menu" onclick="showCheckout( event, 'L' );"> LAYAWAY </a></strong><br><br>
                                            </div>
                                        </center>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>

                    <div id="customer_details_modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    Customer Details
                                </div>

                                <div class="modal-body col-md-12">
                                    <br>
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <label>First Name</label>
                                        <input id="customer_first_name" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <br>
                                        <label>Last Name</label>
                                        <input id="customer_last_name" type="text" class="form-control">
                                    </div>

                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <br>
                                        <label>Telephone</label>
                                        <input id="customer_telephone" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <br>
                                        <label>Mobile</label>
                                        <input id="customer_cellphone" type="text" class="form-control">
                                    </div>

                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <br>
                                        <label>Email</label>
                                        <input id="customer_email" type="text" class="form-control">
                                    </div>

                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <br>
                                        <label>Notes</label>
                                        <textarea id="customer_notes" class="form-control doc_header" placeholder="Type notes" rows="3"></textarea>
                                        <hr>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="createCustomer( event )"> Done </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        
            <div id="main_trans_2" style="display: none;">
                <div id="checkout_summary" class="col-md-4 col-sm-12 col-xs-12">
                    <div id="invoice_summary" class="col-md-12 col-xs-12 col-sm-12" style="padding: 0px;">
                        <div id="payment_summary" style="padding: 15px;">
            
                            <div class="col-md-10">
                                <div id="total_label">
                                    <small> <div id="orange_text"> TOTAL </div> </small>
                                </div>
                                <div id="invoice_total_summary">{{ getTotal() | currency}}</div> <br>
                            </div>
                            <div class="col-md-2 text-right">
                                <a id="show_payment_details" class="toggle-class" href="#invoice_payment_details" data-toggle="collapse" aria-expanded="true"><span class="chevron glyphicon"></span></a>
                            </div>

                            <div id="invoice_payment_details" class="col-md-12 collapse in" aria-expanded="true">
                                <br>
                                <small>TAX BREAKDOWN</small>
                                <div id="tax_list_summary"></div>
                
                                <br><br><br><br>
                                <small>PAYMENTS MADE</small>
                                <div id="payment_list"></div>
                            </div>

                        </div>

                        <div id="invoice_lines_summary">
                            <div class="scroller" style="height: 300px; padding: 0px" data-always-visible="1" data-rail-visible="0">

                                <div class="portlet-body" style="padding-left: 15px">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <i class="fa fa-briefcase"></i> Items </th>
                                                    <th class="hidden-xs">
                                                        <i class="fa fa-user"></i> Quantity </th>
                                                    <th class="hidden-xs">
                                                        <span>&percnt; &nbsp;   Discount </span></th>
                                                    <th>
                                                        <i class="fa fa-shopping-cart"></i>  Total </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cart in carts">
                                                    <td class="highlight">
                                                        <div class="success"></div>
                                                        <a href="javascript:;"> {{cart.product_type}} </a>
                                                    </td>
                                                    <td class="hidden-xs"> 
                                                        {{cart.product_count}}
                                                    </td>
                                                    <td>
                                                        {{cart.product_discount}}
                                                    </td>
                                                    <td> {{ getCost(cart) | currency}} </td>
                                                    <td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="payment_container" class="col-md-8 col-sm-12 col-xs-12">
                    <div id="payment_wrapper" class="col-md-12 col-xs-12 col-sm-12" style="">
                        <div id="payment_input">
                            <div id="payment_back" class="col-md-3 col-xs-3 col-sm-3" style="padding-top: 20px; color: #FFF;">
                                <a id="payment_back_href">
                                    <span class="glyphicon glyphicon-chevron-left"></span> BACK 
                                </a>
                            </div>
            
                            <div class="col-md-9 col-xs-9 col-sm-9" style="padding-top: 20px; color: #FFF;">
                                <label>AMOUNT TENDERED</label>
                                <input id="amount_tendered" type="text" class="big-input text-right" style="color: #000" ng-model="amount" value="">
                            </div>
                        </div>
                
                        <div id="payment_types" style="padding: 20px;">
                            <center>
                                <div class="col-md-3 col-xs-3 col-sm-3"><a href="#" id="payment_button" onclick="selectPaymentType(event, this);" data-payment_type="1" class="btn red btn-outline btn-block"> CASH </a></div>
                                <div class="col-md-3 col-xs-3 col-sm-3"><a href="#" id="payment_button" onclick="selectPaymentType(event, this);" data-payment_type="2" class="btn red btn-outline btn-block"> CREDIT </a></div>
                                <div class="col-md-3 col-xs-3 col-sm-3"><a href="#" id="payment_button" onclick="selectPaymentType(event, this);" data-payment_type="3" class="btn red btn-outline btn-block"> DEBIT </a></div>
                
                                <div class="btn-group col-md-3 col-xs-3 col-sm-3">
                                  <button id="payment_button_drop" type="button" class="btn red btn-outline btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MORE &nbsp; <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li>
                                        <button class="btn btn-default" data-target="#basic" data-toggle="modal">POINTS</button>
                                    </li>
                                    <li><button class="btn btn-default" id="check">CHECK</button></li>
                                    <li><button class="btn btn-default" id="gift">GIFT CERTIFICATE</button></li>
                                    <li><button class="btn btn-default" id="other">OTHERS</button></li>
                                  </ul>
                                </div>
                            </center>

                            
                        </div>


                        <div id="payment_details" style="padding: 10px;">
                            <hr>
                
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <label>Customer Name</label>
                                <input id="checkout_customer_name" type="text" class="form-control" disabled="">
                            </div>
            
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <label>Email</label>
                                <input id="checkout_customer_email" type="text" class="form-control">
                            </div>
            

                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <br>
                                <label>Membership</label>
                                <input id="checkout_customer_membership" type="text" class="form-control" disabled="">
                            </div>
            
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <br>
                                <input id="email_invoice" type="checkbox"> Email invoice
                            </div>
            
                        </div>

                        <div id="other_payment_details_wrapper" style="padding: 10px;" class="col-md-12 col-xs-12 col-sm-12">
                            <hr>
                            <div id="other_payment_details">
                                
                            </div>
                        </div>


                        <div id="right_buttons" style="padding: 10px;">
                            <hr>
                            <button  id="payment_button_green" class="btn btn-success btn-outline pull-right" data-toggle="modal" href="#draggable2" ng-click="getInvoice()"> PAY </button><br><br>
                        </div>
            
                        

                    </div>

                    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Error</h4>
                                </div>
                                <div class="modal-body"> There is no customer selected!</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- end-modal -->

                    <div class="modal fade draggable-modal" id="draggable2" tabindex="-1" role="basic" aria-hidden="true" ng-if="getChange() >=0 ">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">TRANSACTION SUMMARY</h4>
                                </div>
                                <div class="modal-body">

                                    <div id="invoice">
                                        <div class="row invoice-logo">
                                            <div class="col-xs-6 invoice-logo-space">
                                                <img src="../assets/pages/media/invoice/walmart.png" class="img-responsive" alt="" /> </div>
                                            <div class="col-xs-6">
                                                <p> #5652256 / 28 Feb 2013
                                                    <span class="muted"> Consectetuer adipiscing elit </span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr/>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="portlet-body">
                                                    <div class="table-scrollable">
                                                        <table class="table table-striped table-bordered table-advance table-hover" style="text-align: center;">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <i class="fa fa-briefcase"></i> Items </th>
                                                                    <th class="hidden-xs">
                                                                        <i class="fa fa-user"></i> Quantity </th>
                                                                    <th class="hidden-xs">
                                                                        <span>&percnt; &nbsp;   Discount </span>
                                                                    </th>
                                                                    <th>
                                                                        <i class="fa fa-shopping-cart"></i>  Total 
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="cart in carts">
                                                                    <td class="highlight">
                                                                        <div class="success"></div>
                                                                        <a href="javascript:;"> {{cart.product_type}} </a>
                                                                    </td>
                                                                    <td class="hidden-xs"> 
                                                                        {{cart.product_count}}
                                                                    </td>
                                                                    <td>
                                                                        {{cart.product_discount}}
                                                                    </td>
                                                                    <td> {{ getCost(cart) | currency}} </td>
                                                                    <td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-xs-4 invoice-block pull-right total">
                                                <ul class="list-unstyled amounts">
                                                    <li>
                                                        <strong>Sub - Total amount:&nbsp; &nbsp;  {{subTotal() | currency}}</strong></li>
                                                    <li>
                                                        <strong>Grand Total:&nbsp; &nbsp;  {{getTotal() | currency}}</strong></li>
                                                    <li ng-if="discountAll != 0">
                                                        <strong>Discount:&nbsp; &nbsp;  {{discountAll | currency}} %</strong> </li>
                                                    <li ng-if="discountAll == 0">
                                                        <strong>Giảm giá:&nbsp; &nbsp;  {{getDiscount() | currency}}</strong>  </li>
                                                    
                                                    <li>
                                                        <strong>Khách trả:&nbsp; &nbsp; {{amount | currency}}</strong></li>
                                                    <li>
                                                        <strong>Dư trả lại:&nbsp; &nbsp; {{getChange() | currency}}</strong></li>
                                                </ul>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn green" ng-click="backUpStore(); saveInvoice(); printDiv(invoice)" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        <!-- </div> -->
        
    </div>
</div>

<!-- END MAIN CONTENT